@import url('https://fonts.googleapis.com/css2?family=Basic&family=Jura:wght@300..700&display=swap');

:root {
    --laranja: #F98E12;
    --branco: #FFF;
    --preto: #1E1E1E;
    --rojo-one: #26076D;
    --rojo-two: #391392;
    --rojo-three: #672BF3;

    /* Fontes */
    --Basic: "Basic";
    --Jura: "Jura";

    /*Medidas*/
    --cabecalho-w: 80px;
    --section: 700px;
    --titulo: 74px;

}