@import url('https://fonts.googleapis.com/css2?family=Basic&family=Jura:wght@300..700&display=swap');

:root {
    --laranja: #F98E12;
    --amarelo: #EEAA34;
    --amarelo-hover: #e6960d;
    --branco: #FFF;
    --cinza: #C1C1C1;
    --preto: #1E1E1E;
    --preto-two: #111111;
    --rojo-one: #26076D;
    --rojo-two: #391392;
    --rojo-three: #672BF3;
    --gradient: linear-gradient(to right, #6120F8 50%, #391392 100%);
    ;

    /* Fontes */
    --Basic: "Basic";
    --Jura: "Jura";

    /*Medidas*/
    --cabecalho-w: 80px;
    --section: 700px;
    --titulo: 74px;

    /*Tela W-720*/
    --titulo720: 3rem;
    --paragrafo720: 1.5rem;
    --titulo-home720: 4rem;
    --paragrafo-home720: 24px;
    --titulo-baixar720: 2rem;

}