body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3c0c7b;
  }
  
  header {
    background-color: #3c0c7b;
    height: 15vh;
    box-shadow: 0 20px 15px rgba(11, 11, 11, 0.8);
    align-items: center;
    display: flex;
    padding: 0 20px;
  }
  
  .logo {
    width: 100px; /* Defina a largura da sua imagem de logo */
  }
  
  section {
    width: 100%;
    display: flex;
    justify-content:center ;
    
  }
  
  .container {
    display: flex;
    justify-content: space-around; /* Para deixar as divs lado a lado */
    width: 90%;
  }
  
  .box1,
  .box2 {
    flex: 1;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .box1 {
    color: white;
    gap: 25px;
  }
  
  .box2 {
    align-items: center;
  }

  .box2 .fundo{
    width: 600px;
    position: absolute;
    z-index: -1;
    background-size: cover; /* Para preencher o tamanho da div */
    background-repeat: no-repeat; /* Para não repetir a imagem */
    background-position: center; /* Para centralizar a imagem */
    border-radius: 140px; /* Isso deve ser suficiente */
  }
  
  
  .box1 h1 {
    font-size: 4rem;
    margin: 0;
  }
  .box1 p{
    margin: 0;
    font-size: 1.7rem;
  }
  
  .button {
    height: 50px;
    width: 350px;
    border: 2px solid rgb(255, 255, 255);
    transform: scale(1);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s linear;
    background-color: transparent;
    color: white;
  }
  
  .button:hover {
    transform: scale(1.05);
  }
  
  .box2 img {
    width: 150px; /* Defina a largura da sua imagem */
    display: block;
  }
  
  .box2 h1 {
    font-size: 30px;
  }
  
  .box2 .Button {
    height: 50px;
    width: auto;
    padding: 10px 20px;
    border: 2px solid black;
    transform: scale(1);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s linear;
    background-color: #3c0c7b;
    margin-bottom: 15px;
    color: white;
  }
  
  .box2 button:hover {
    background-color: #0056b3;
  }
  
  .redes-sociais {
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.redes-sociais a{
    color: white;
    font-size: 35px;
}
  /* Mídia para largura máxima de 480px */
  @media screen and (max-width: 480px) {
    header {
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .logo {
      width: 80px; /* Ajuste a largura da logo para uma tela menor */
    }
    
    .container {
      flex-direction: column; /* Altera para layout de coluna em telas pequenas */
      height: 170vh;
      align-items: center;
      
    }
    
    .box1,
    .box2 {
      height: auto;
      width: 90%;
    }
    .box1 h1{
        font-size: 3.5rem;
        margin: 0;
    }
    .box1{
        gap: 30px;
    }
    .box1 p{
        font-size: 1.4rem;
    }
    
    .box1 .button {
        width: 230px;
    }
    
    
    .box2 .fundo{
        width: 90%;
        height: 600px;
    }
    .redes-sociais{
        top: 92.5%;
        flex-direction: row;
        right: 40%;
    }
  }

  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    header {
      height: 15vh;
    }
  
    .logo {
      width: 80px;
    }
  
    .container {
      flex-direction: column;
      height: 175vh;
      align-items: center;
      max-width: 90%;
    }
  
    .box1 h1 {
      font-size: 3rem;
    }
  
    .box1 p {
      font-size: 1.5rem;
    }
  
    .box1 .button {
      width: 300px;
    }
    
    .redes-sociais {
      top: 92.5%;
      flex-direction: row;
      right: 40%;
    }
  }
  .redes-sociais{
    top: 92.5%;
    flex-direction: row;
    right: 47%;
}
  
  /* Mídia para largura mínima de 769px e máxima de 1024px */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
      height: 12vh;
    }
  
    .logo {
      width: 70px;
    }
  
    .container {
      align-items: center;
      width: 97%;
      gap: 15px;
    }
  
    .box1 h1 {
      font-size: 2.5rem;
    }
  
    .box1 p {
      font-size: 1.3rem;
    }
  
    .box1 .button {
      width: 250px;
    }
    .box2 img {
      max-width: 400px;
    }
    .redes-sociais{
      top: 92.5%;
      flex-direction: row;
      right: 40%;
  }
  }
  