@media (max-width: 500px) {
    .baixar-download {

        .download-btn {
            width: 80vw;
        }
    }
}

@media (min-width: 720px) {
    .cabecalho-menu-mobile {
        display: none;
    }

    .cabecalho-menu-icon {
        display: none;
    }
}

@media (max-width: 720px) {

    .sections {

        h1,
        h2 {
            font-size: var(--titulo720);
        }

        .linha-laranja {
            width: 80%;
        }
    }

    .sobre {
        gap: 3rem;

        .sobre-titulo {
            width: 400px;
        }

        p {
            font-size: var(--paragrafo720);
        }
    }

    .home {

        height: 550px;

        h2 {
            font-size: var(--titulo-home720);
            line-height: 60px;
        }

        p {
            font-size: var(--paragrafo-home720);
        }
    }

    .home-filter {
        height: 550px;

    }

    .funcoes {
        .funcoes-titulo {
            width: 220px;
        }

        .funcoes-cards {
            gap: 6rem;
        }
    }

    .video {
        .video-titulo {
            width: 330px;
        }

        .video-yt {
            width: 78vw;
            height: 39vh;
        }

    }

    .baixar {

        padding: 150px 5vw;

        .baixar-textos {
            text-align: center;
            align-items: center;
            justify-content: center;
            word-wrap: break-word;

            h2 {
                width: auto;
                line-height: 30px;

            }

            .baixar-download {
                display: flex;
                align-items: center;
                justify-content: center;
            }


        }

        .baixar-qrcode {
            display: none;
        }

        h2 {
            font-size: var(--titulo-baixar720);
        }
    }

    .cabecalho {
        justify-content: space-between;
        padding: 10px 5vw;
    }

    .cabecalho-menu {
        display: none;
    }

    .cabecalho-menu-icon {
        width: 30px;
        color: var(--branco);
        background: transparent;
        border: none;
    }

    .cabecalho-menu-mobile {
        background-color: var(--branco);
        height: 100vh;
        width: 200px;
        position: absolute;
        top: 84px;
        right: -300px;
        transition: all .3s;

        display: flex;
        flex-direction: column;
        color: var(--rojo-two);

        a {
            padding: 10px 20px;
            text-decoration: none;
            font-size: 2rem;
        }
    }

    .menu-show {
        right: 0;
    }

    .menu-select {
        background: var(--rojo-two);
        color: var(--branco);
    }


}

@media (max-width: 1000px) {
    .baixar {

        .baixar-textos {
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .baixar-qrcode {
            display: none;
        }
    }
}