@media (max-width: 500px) {
    .baixar-download {

        .download-btn {
            width: 80vw;
        }
    }
}

@media (max-width: 720px) {

    .sections {

        h1,
        h2 {
            font-size: var(--titulo720);
        }

        .linha-laranja {
            width: 100%;
        }
    }

    .sobre {
        gap: 3rem;

        .sobre-titulo {
            width: 400px;
        }

        p {
            font-size: var(--paragrafo720);
        }
    }

    .home {

        height: 550px;

        h2 {
            font-size: var(--titulo-home720);
            line-height: 60px;
        }

        p {
            font-size: var(--paragrafo-home720);
        }
    }

    .home-filter {
        height: 550px;

    }

    .funcoes {
        .funcoes-titulo {
            width: 220px;
        }

        .funcoes-cards {
            gap: 6rem;
        }
    }

    .video {
        .video-titulo {
            width: 330px;
        }

        .video-yt {
            width: 78vw;
            height: 39vh;
        }

    }

    .baixar {

        padding: 150px 5vw;

        .baixar-textos {
            text-align: center;
            align-items: center;
            justify-content: center;

            h2 {
                word-break: break-all;
                width: auto;
                line-height: 30px;

            }

            .baixar-download {
                display: flex;
                align-items: center;
                justify-content: center;
            }


        }

        .baixar-qrcode {
            display: none;
        }

        h2 {
            font-size: var(--titulo-baixar720);
        }
    }

}

@media (max-width: 1000px) {
    .baixar {

        .baixar-textos {
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .baixar-qrcode {
            display: none;
        }
    }
}