@import url("../config.css");

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Basic);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.cabecalho {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    padding: 10px 0;
    height: auto;
    width: 100vw;
    font-family: var(--Basic);
    background: var(--gradient);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.cabecalho-logo {
    position: relative;
    height: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 2rem;
    font-size: 20px;
}

.cabecalho-menu a {
    text-decoration: none;
    color: var(--branco);
}

main {
    position: relative;
    top: 80px;
}

.home {
    width: 100%;
    height: 700px;
    background-image: url('../public/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    gap: 30px;
}

.home-filter {
    width: 100%;
    height: 700px;
    top: 0px;
    background: black;
    opacity: 0.3;
    position: absolute;
}

.home h2 {
    font-family: var(--Basic);
    font-size: 5rem;
    line-height: 70px;
    text-align: center;
    z-index: 2;
}

.home p {
    font-family: var(--Jura);
    font-size: 1.8rem;
    line-height: 32px;
    text-align: center;
    max-width: 700px;
    z-index: 2;
}

.sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 90px 0px 140px;
}

.sobre h1 {
    font-size: var(--titulo);
    color: var(--rojo-one);
}

.sobre p {
    font-family: var(--Jura);
    font-size: 2.5rem;
    width: 80vw;
    text-align: justify;
}

.sobre-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.linha-laranja-sobre {
    height: 4px;
    background-color: var(--laranja);
    width: 600px;
}

.funcoes {
    width: 100%;
    padding: 60px 10vw 140px;
    background-color: var(--rojo-two);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8rem;
}

.funcoes-titulo {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.funcoes-titulo h2 {
    font-size: var(--titulo);
}

.linha-laranja-funcoes {
    height: 4px;
    background-color: var(--laranja);
    width: 300px;
}

/* Card Funções */

.card {
    max-width: 280px;
    height: 300px;
    background-color: var(--branco);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .3s;
    opacity: .9;
}

.funcoes-cards:hover .card {
    transform: scale(1);
}

.card:hover {
    transform: scale(1.1) !important;
    opacity: 1 !important;
}

.card-icon {
    width: 120px;
    height: 120px;
    background-color: var(--rojo-three);
    border-radius: 30px;
    position: absolute;
    margin-bottom: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon>svg {
    width: 4rem;
    color: var(--branco);
    font-weight: 200;
}

.card>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    gap: .3rem;
    color: var(--preto);
}

.funcoes-cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card-titulo {
    font-size: 2rem;
    margin-top: 20px;
}

.card-info {
    width: 80%;
    text-align: center;
    font-family: var(--Jura);
    font-weight: 700;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding: 70px 0;
}

.video-titulo {
    color: var(--rojo-one);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.video-titulo h2 {
    font-size: var(--titulo);
}

.linha-laranja-video {
    height: 4px;
    background-color: var(--laranja);
    width: 470px;
}

.video-yt {
    width: 42vw;
    height: 50vh;
}

.baixar {
    background: var(--rojo-two);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    gap: 2rem;
}

.baixar-qrcode {
    width: 250px;
    height: 250px;
}

.baixar-qrcode img {
    width: 100%;
    height: 100%;
}

.baixar-textos {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.baixar-textos h2 {
    font-size: var(--titulo);
    color: var(--branco);
    line-height: 80px;
    width: 600px;
}

.baixar-download {
    text-decoration: none;
}

.download-btn {
    width: 410px;
    height: 85px;
    background: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.download-btn p {
    font-family: var(--Jura);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--rojo-two);
}

.textos-opcoes {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.textos-opcoes>p {
    color: var(--branco);
    font-size: 22px;
    width: 390px;
    text-align: center;
}

.rodape {
    width: 100%;
    background: var(--preto-two);
    padding: 50px 2vw 20px;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 80px;
}

.rodape-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rodape-info img {
    width: 100px;
}

.info-redes h3 {
    font-size: 2rem;
}

.redes-icon {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 8px;
}

.redes-icon a {
    text-decoration: none;
    color: var(--cinza);

}

.redes-icon a:nth-child(2) svg {
    width: 1.6rem;
    cursor: pointer;
}

.redes-icon a:nth-child(1) svg {
    width: 2rem;
    cursor: pointer;
}

.rodape-direitos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape-direitos>p {
    font-family: var(--Jura);
    font-weight: 700;
    font-size: 20px;
    word-break: normal;
    width: 100%;
    text-align: center;
}

.linha-laranja-rodape {
    height: 4px;
    background-color: var(--laranja);
    width: 100%;
}